body{
	font-family:'Roboto',sans-serif;
	color: #555;
	background: url(../../assets/images/main-background.png);
	background-color: #eee;
}
body, p{
	font-size: 11pt;
}
a:hover{
	text-decoration: none;
}

.title-container-content, .headline, .support-section, .poster, footer{
	margin-top: 20px;	
}

.container{
	background-color: #fff;
}

.main{
	 box-shadow: 0 5px 7px #333;
}

/*HEADER TOP*/

.top-bar{
	height: auto;
	padding: 5px 10px;
	background-color: #002B5C;
	font-size: 14px;
	color: #fff;
}
.top-bar a, .title-container-content a{
	color: #FFBA00;	
}
.top-bar a:hover{
	color: #fff;
}
.header-identity{
	padding: 20px 10px;
	height: auto;
}
.header-identity img{
	height: 50px;
}

/*MENU*/

.top-bar, .navbar{
	border-bottom: 4px solid #FFBA00;
	width: 100%;
}

@media screen and (max-width: 1200px) {
	.nav-item a{
		font-size: 11pt;
	}
}


.navbar{
	background-color: #002B5C !important;
	padding: 0;
	font-size: 12pt;
}

.nav-link{
	color: #fff !important;
}

.nav-item{
	border-left: 0.01px solid #777;
	padding: 0 10px;
}
.nav-item:nth-last-child(1){
	border-right: 0.01px solid #777;	
}


/*CAROUSEL*/
.carousel-item img, .carousel video{
	width: 100%;
	height: 350px;
}


/*CONTENT*/
.headline{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.main-news{
	flex-basis: 54%;
	box-sizing: border-box;
	display: flex;
	position: relative;
	border-bottom: 4px solid #FFBA00;
}

.main-news-label{
    padding: 5px 10px;
    background-color: red;
    color: #FFBA00;
    border-radius: 5px;
    position:absolute;
    z-index: 100;
    font-size: 12pt;
    font-weight: bold;   
}

.main-news-title{
	position: absolute;
	bottom: 2%;
	width: 100%;
    z-index:100;
	margin-left: 2%;
	font-weight: bold;
	font-size: 14pt;
}

@media screen and (max-width: 992px) {
	.main-news-title{
		font-size: 11pt;
		line-height: 1;
	}
	
}
.main-news-title a{
	color: #fff;
	text-shadow: 0px 0px 10px #222;
}



.main-news-title a:hover, .list-item-title a:hover{
	color: #FFBA00;
	background-color: #002B5C;
}



















.main-videos{
	flex-basis: 45.5%;
	display: flex;
	flex-direction: column;
	z-index: 100;
}

.video-main-1{
	display: flex;
	box-sizing: border-box;
	padding-bottom: 1%;
	height: 60%;
}
.video-main-2{
	box-sizing: border-box;
	height: 40%;
	display: flex;
	justify-content: space-between;
}
.video-main-2 iframe{
	border-bottom: 5px solid #FFBA00;	
}
.test{
	flex-basis: 49%;
}











.title-container-content {
	width: 100%; 
	height: 35px;
	line-height: 33px;
	background-color: #002B5C;
	padding-right: 20px;
	border-right: 0;  
	position: relative;
	border-left: 5px solid #FFBA00;
}

.title-container-content i{
	color: white;
	font-size: 11pt !important;
	margin: 0 5px 0 10px;
}
.title-container-content, .title-container-content i{
	color: white;
	font-size: 11pt !important;
}

.content img{
	width: 100%;
}

.list-container{
	padding-top: 15px;
	display: flex;
	align-items: stretch;
 	justify-content: space-between;
	flex-wrap: wrap;
}

.list-item, .list-item-4{
	flex-basis: 19.5%;
  	position: relative;
	border-bottom: 4px solid #FFBA00;
}

.list-item-4{
	flex-basis: 24%;
}

.list-item img, .list-item-4 img{
	border-radius: 2px;
	min-height: 100%;
}

.list-item-title-3{

}

.list-item-title, .list-item-title-2{
	position: absolute;
	bottom: 0;
	z-index: 100;
	padding: 5px;
	line-height: 1;
	text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-transform: lowercase;
}

.list-item-title-2{
	text-align: left;
	padding: 10px;
}

.list-item-title a, .list-item-title-2 a, .list-item-title-3 a, .list-item-title-2 p{
	font-size: 10pt !important;
	line-height: 1.4;	
	color: #fff;
	margin-bottom: 0px;
}

.list-item-title-3 a{
	color: #555;	
}

.list-item-title-2 a{
	font-size: 12pt;
	color: #FFBA00;
	font-weight: bold;
	text-transform: uppercase;
}

























.support-section, .help-section{
	display: flex;
	background-color:  #002B5C;
	padding: 5px;
	width: 100%;
	border-radius: 5px 5px 0 0;
	font-size: 20px;
	align-content: stretch;

}
.help-section{
	border-radius: 0 0 5px 5px;
	/*width: 40%;*/
}

.support-section .fa {
	padding: 5px;
	width: 30px;
	text-align: center;
	border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.search-container{
	flex: 4;
}
.search-container input{
	height: 30px;
	border-radius: 5px;
	border: 0;
	width: 100%;
	font-size: 11pt;
	padding: 0 5px;
}
.service-container{
	flex: 3;
}
.service-container img{
	width: 30%;
}

.social-media-container{
	text-align: right;
	flex-basis: 15%;
}

@media screen and (max-width: 992px) {
	.social-media-container{
		flex-basis: 28%;
	}
}

.social-media-container .fa {
	position: relative;
	right: 0;
	padding: 10px;
	font-size: 10pt;
	text-align: center;
	text-decoration: none;
}

.social-media-container .fa:hover {
    opacity: 0.7;
}

.social-media-container .fa-facebook {
  background: #3B5998;
  color: white;
}

.social-media-container .fa-twitter {
  background: #55ACEE;
  color: white;
}

.social-media-container .fa-google {
  background: #dd4b39;
  color: white;
}

.social-media-container .fa-youtube {
  background: #bb0000;
  color: white;
}

.social-media-container .fa-instagram {
  background: #125688;
  color: white;
}





.list-item-2 ul{
	padding-left: 0px;
	font-size: 11pt;
}
.list-item-2 li{
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #CCC;
	color: #555;
	border-radius: 2px;
}
.list-item-2 li:hover{
	background-color: #FFBA00 ;
	color: #000;
}




.content-part-2{
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.container-1{
	flex-basis: 40%;
	order: 2;
}
.container-2{
	flex-basis: 30%;
	order: 3;
}
.container-3{
	flex-basis: 25%;
	order: 1;
}


.poster{
	display: flex;
}

.poster img{
	margin: auto;
	width: 100%;
}

.poling{
	padding: 10px;
	color: #555;
	font-size: 11pt;
}

.poling input[type="radio"] + label{
	cursor: pointer;
	margin-right: 4%;
}

.publikasi{
	margin-top: 10px;
}

.event-item{
	font-size: 9pt;
	color: #555;
	padding: 20px;	
}
.event-item h6{
	font-size: 10pt;
	font-weight: bold;
}
.event-item .fa{
	margin-right: 5px;
}


.publikasi{
	display: flex;
	justify-content: space-between;
	padding: 5px;
	text-align: center;
	align-items: stretch;
}

.publikasi-item{
	flex-basis: 32%;
	min-height: 100%;
}
.publikasi-item p{
	font-weight: bold;
	background-color: #FFBA00;
	border-radius: 5px;
	margin-bottom: 0px;
}


.pengunjung-container h4{
	font-weight: 700;
	margin: 0 !important;

}
.content-container{
	margin-top: 10px;
	border-radius: 5px;
	border : 1px solid #CCC;
	width: 100%;
}
.pengunjung-container{
	padding: 10px;
	text-align: center;
}
footer{
	border-top: 4px solid #FFBA00;
	color: #fff;
	font-size: 10pt;
	width: 100%;
	margin-bottom: 20px;
}
.footer{
	padding: 30px 40px 60px 40px;
	background: url('../../assets/images/footer-background.jpg'); 
	display: flex;
	justify-content: space-between;
}
.footer h3{
	font-size: 12pt;
	font-weight: bold;
	color: #FFBA00;
}
.footer .fa{
	margin-right: 5px;
}

.address{
	flex-basis: 30%;
	line-height: 2.5;
}
#copyright{
	padding: 10px 0;
	margin: 0;
	height: auto;
	text-align: center;
	background-color: #222;
}










.list-container-2{
	flex-direction: column;
}

.list-item-5{
	clear: both;
}
.list-item-5 img{
	margin-bottom: 15px;
	float: left;
	width: 40%;
	margin-right: 10px;
	border-radius: 5px;
}
.list-item-5 a{
	font-size: 10pt;
	color: #555;
	text-transform: lowercase;
}
.list-item-5 p{
	font-weight: 550;
	margin: 0;
}

.paragraf-berita{
	text-align: justify;
	font-size: 11.5pt;
}
.news-info{
	display: inline;
	list-style-type: none;
}
.news-info .fa, .news-info span{
	font-size:10pt; 
}
.news-info .fa{
	margin-right:5px;	
}
.news-info-item{
	margin-right: 10px;
	display: inline;
	color: #999;
}

.show-content .news-title, .show-content h2, .show-content h3{
	font-size: 16pt;
	font-weight: bold;
	text-transform: uppercase;
	color: #002B5C;
}



.news-gallery{
	display: flex;
	justify-content: space-between;
	align-content:flex-start;
	flex-wrap: wrap;
	align-items: stretch;
}
.news-gallery-item{
	flex-basis: 24%;
	margin-bottom: 10px;
}
.news-gallery-item img{
	min-height: 100%;
}


.list-item-terkait{
	flex-basis: 30%;
}
.list-item-terkait img{
	width: 100%;
	/*min-height: 100%;*/
}

@media screen and (max-width: 765px){
	.mobile-hide{
		display: none;
	}
	.container-2{
		flex-basis: 100%;
	}
}






.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em 0.2em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.25em 0.5em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 0.75em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}


.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}


.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}


.show-content{
	margin-top: 20px;
}

.list-style-number{
	list-style-type: decimal;
}